<p>
  <Strong>Title:</Strong>
  <%= @article.title %>
</p>
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>
<p>
  <%= link_to 'Back', articles_path %>
  <%= link_to 'Home', welcome_index_path %>
</p>
